
{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}
<div class="container">

    <div class="jumbotron">
        <h1 id="color-override">Eat the Burger</h1>
        <p id="color-override">Make burgers, eat burgers.</p>
        <br>
        <h2 id="color-override">Make a Burger</h2>

        <panel>
            <form class="create-form" action="/burgers" method="POST">
                    <input type="text" id="name" name="burger_name">
                    {{!-- Create a button in index.handlebars that will submit the user input into the database. --}}
                    <button type="submit" class="btn btn-success" id="addburger"><i class="fas fa-hamburger"></i>+</i></button>
                </div>
            </form>
        </panel>
        
    </div><!-- /jumbotron -->
    <div class="container">
        <div class="row">
        <div class="col s6">
            {{#each burgers}}
            {{#unless this.devoured}}
            <div>
                <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                    <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
                </form>
            </div>
            {{/unless}}
            {{/each}}
        </div>

        <div class="col s6">
            {{#each burgers}}
            {{#if this.devoured}}
                <div class='burgerEaten'>
                <div>
                    {{this.burger_name}}
                </div>
                </div>
            {{/if}}
            {{/each}}
        </div>
        </div>
    </div>
</div><!-- /container -->
