.jumbotron {
    /* background-image: url("/assets/img/background.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}

.jumbotron > h1 {
    font-family: 'Gloria Hallelujah', cursive;
}

.btn {
    width: 50px;
    height: 30px;
    padding-top: 3px;
}

.fas {
    display: inline;
}

.burgerAvailable {
    border-radius: 5px;
    margin-bottom: 10px;
}

.burgerEaten {
    border-radius: 5px;
    margin-bottom: 10px;
}

#newburger {
    border-radius: 5px;
}

#color-override {
    color: #000;
}

#lefthead {
    background-color: #5cb85c;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#eatbutton, #trashbutton {
    float: right;
}

#righthead {
    background-color: #f0ad4e;
    color: white;
    text-align: center;
    font-size: 1.2em;
}